button{
    padding: 20px;
    font-size: 20px;
    background-color: #79DAE8;
}
.container{
    text-align: center;
    margin: auto;
    display: inline-block;
}
#box{
    height: 100px;
    width: 100px;
    background-color: #f0ff11;
    margin: 20px;
    display: none;
}